name: Headless tests
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.ref }}
  cancel-in-progress: true

on:
  pull_request:
  schedule:
    # Run test at 0400 UTC on Saturday.
    - cron: '0 4 * * 6'

jobs:
  tests:
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.11']
      fail-fast: false

    runs-on: ${{ matrix.os }}
    env:
      VTK_PARSER_VERBOSE: 'true'
      ETS_TOOLKIT: 'null'

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install numpy "vtk<9.3" pillow pytest traitsui
    - name: Install mayavi and tvtk
      run: python -m pip install -v .
    - name: Test tvtk package
      run: pytest -v --pyargs tvtk
    - name: Test Mayavi package
      run: pytest -v --pyargs mayavi
