name: Tests
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number }}-${{ github.event.type }}
  cancel-in-progress: true

on:
  pull_request

jobs:
  tests:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3.7']
        qt-api: ['pyqt5']
        include:
          - python-version: '3.10'
            qt-api: 'pyside6'
            os: ubuntu-latest
          - python-version: '3.10'
            qt-api: 'pyside6'
            os: windows-latest
          - python-version: '3.10'
            qt-api: 'pyside6'
            os: macos-latest
      fail-fast: false

    runs-on: ${{ matrix.os }}

    env:
      ETS_TOOLKIT: qt4
      QT_API: ${{ matrix.qt-api }}

    steps:
    - uses: actions/checkout@v2
    - name: Install Linux packages for Qt5 support
      run: |
        sudo apt-get update
        sudo apt-get install qt5-default
        sudo apt-get install libxkbcommon-x11-0
        sudo apt-get install libxcb-icccm4
        sudo apt-get install libxcb-image0
        sudo apt-get install libxcb-keysyms1
        sudo apt-get install libxcb-randr0
        sudo apt-get install libxcb-render-util0
        sudo apt-get install libxcb-xinerama0
      if: matrix.os == 'ubuntu-latest'
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies and local packages
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install ${{ matrix.qt-api }}
        python -m pip install numpy
        python -m pip install vtk
        python -m pip install pillow
        python -m pip install pytest
        python -m pip install traitsui==7.2.1
        python -m pip install -e .[app]
    - name: Test Mayavi package
      uses: GabrielBB/xvfb-action@v1
      with:
        run: python -m pytest -v mayavi
    - name: Test tvtk package
      uses: GabrielBB/xvfb-action@v1
      with:
        run: python -m pytest -v tvtk
